@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


:root{
    --light-primary: #f4f2ff;
    --primary: #1f66df;
    --active: #5b91d8;
    --secundary: #25213b;
    --primary-800: #6e689330;
    --header-font-color: #5b91d8;
    --tbody-text-color: #5b91d8;
    --tbody-text-color-600: #5b91d8;
    --primary-bg-color: #e6e6f2;
    --primary-accent-color: #6d5bd0;
    --success-bg-color: #cdffcd;
    --success-accent-color: #007f00;
    --danger-bg-color: #f4a8a8;
    --danger-accent-color: #d30000;
    --alert-bg-color: #ffeccc;
    --alert-accent-color: #ce8500;
}
.contenedor-tabla a{
    text-decoration: none;
    color: var(--active);
    font-size: 14px;
}


.contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

/* Contenedor externo para el scroll */
.tabla-scroll-outer {
    width: 100%;
    max-width: 1200px; /* Ajusta según tu diseño */
    position: relative;
    overflow: hidden;
}

/* Contenedor interno con scroll */
.tabla-scroll-inner {
    width: calc(100% + 17px); /* Compensa el scroll */
    max-height: 70vh;
    overflow-y: scroll;
    padding-right: 30px; /* Espacio para contenido */
    margin-right: -17px; /* Empuja el scroll fuera */
}

/* Tabla centrada */
.tablaConsultas {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Personalización del scroll */
.tabla-scroll-inner::-webkit-scrollbar {
    width: 12px;
}

.tabla-scroll-inner::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
    border: 3px solid white;
}

/* Ajuste para menú desplegable */
.acciones-boton .desplegable {
    right: auto;
    left: 100%;
    margin-left: 5px;
    z-index: 100;
}/* Contenedor principal - Centrado con overflow */

.contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

/* Contenedor externo para el scroll */
.tabla-scroll-outer {
    width: 100%;
    max-width: 1200px; /* Ajusta según tu diseño */
    position: relative;
    overflow: hidden;
}

/* Contenedor interno con scroll */
.tabla-scroll-inner {
    width: calc(100% + 17px); /* Compensa el scroll */
    max-height: 70vh;
    overflow-y: scroll;
    padding-right: 30px; /* Espacio para contenido */
    margin-right: -17px; /* Empuja el scroll fuera */
}

/* Tabla centrada */
.tablaConsultas {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Personalización del scroll */
.tabla-scroll-inner::-webkit-scrollbar {
    width: 12px;
}

.tabla-scroll-inner::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
    border: 3px solid white;
}

/* Ajuste para menú desplegable */
.acciones-boton .vertical {
    right: auto;
    left: 100%;
    margin-left: 5px;
    z-index: 100;
}

.contenedor-tabla h3 {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    width: 100%; /* Asegura que ocupe todo el ancho */
}

table{
    display: block;
    text-align: left;
    border-collapse: collapse;
    background: #fff;
}

table thead{
    background: var(--light-primary);
    height: 50px;
    text-transform: uppercase;
    color: var(--header-font-color);
    border-top: 1px solid var(--primary-800 );
    border-bottom: 1px solid var(--primary-800 );
    font-weight: 400;
    font-size: 14px;
}

table tr th{
    text-align: center;
    padding: 10px 15px;
}

table thead tr th i{
    font-size: 24   px;
}

table tbody tr td{
    text-align: center;
    position: relative;
    padding: 14px 12px;
    border-bottom: 1px solid var(--primary-800 ); 
}

table tbody tr:hover{
    background: var(--light-primary);
}

table thead tr th input,
table tbody tr td input{
    scale: 1.25;
    cursor: pointer;
}

table tbody tr td .campo-nombres{
    display: block;
    color: var(--secundary);
    font-size: 16px;
    font-weight: 500;
}

table tbody tr td .campo-correo{
    display: block;
    color: var(--tbody-text-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 3px;
}

table tbody tr td .campo-rango{
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    color: var(--tbody-text-color);
    background: var(--light-primary);
    font-size: 14px;
    border-radius: 20px;
}

/* Estilo base para el span */
table tbody tr td .campo-estatus{
    position: relative;
    display: inline-block;
    padding: 3px 15px 3px 25px; /* Más padding a la izquierda para el círculo */
    font-size: 14px;
    border-radius: 20px;
}

/* Círculo indicador (base) */
table tbody tr td .campo-estatus::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    top: 8px;
    left: 10px;
}

table tbody tr td .campo-estatus-pagos{
    position: relative;
    display: inline-block;
    padding: 3px 15px 3px 25px; /* Más padding a la izquierda para el círculo */
    font-size: 14px;
    border-radius: 20px;
}

/* Círculo indicador (base) */
table tbody tr td .campo-estatus-pagos::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    top: 11px;
    left: 0px;
}
/* Estilo para "habilitado" */
table tbody tr td .campo-estatus.habilitado {
    color: var(--success-accent-color);
    background: var(--success-bg-color);
}
table tbody tr td .campo-estatus.habilitado::before {
    background: var(--success-accent-color);
}

/* Estilo para "deshabilitado" */
table tbody tr td .campo-estatus.inhabilitado {
    color: var(--danger-accent-color);
    background: var(--danger-bg-color);
}
table tbody tr td .campo-estatus.inhabilitado::before {
    background: var(--danger-accent-color);
}

/* POR REVISIÓN */
:root {
    --success-accent-color: #28a745;  /* Verde */
    --success-bg-color: #d4edda;

    --danger-accent-color: #dc3545;   /* Rojo */
    --danger-bg-color: #f8d7da;

    --warning-accent-color: #6c757d;  /* Gris para "En Proceso" */
    --warning-bg-color: #e2e3e5;

    --info-accent-color: #007bff;     /* Azul para "Pago Incompleto" */
    --info-bg-color: #d1ecf1;
}

/* EN PROCESO */
table tbody tr td .campo-estatus-pagos.en-proceso {
    color: var(--warning-accent-color);
    background: var(--warning-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
}
table tbody tr td .campo-estatus-pagos.en-proceso::before {
    background: var(--warning-accent-color);
}

/* PAGO PROCESADO */
table tbody tr td .campo-estatus-pagos.pago-procesado {
    color: var(--success-accent-color);
    background: var(--success-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
}
table tbody tr td .campo-estatus-pagos.pago-procesado::before {
    background: var(--success-accent-color);
}

/* PAGO NO ENCONTRADO */
table tbody tr td .campo-estatus-pagos.pago-no-encontrado {
    color: var(--danger-accent-color);
    background: var(--danger-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
}
table tbody tr td .campo-estatus-pagos.pago-no-encontrado::before {
    background: var(--danger-accent-color);
}

/* PAGO INCOMPLETO */
table tbody tr td .campo-estatus-pagos.pago-incompleto {
    color: var(--info-accent-color);
    background: var(--info-bg-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
}
table tbody tr td .campo-estatus-pagos.pago-incompleto::before {
    background: var(--info-accent-color);
}



/* Estilo para Precios */

table tbody tr td .precio{
    display: block;
    color: var(--secundary);
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

table tbody tr td .moneda{
    display: block;
    color: var(--tbody-text-color);
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

table tbody tr td .acciones-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: var(--tbody-text-color);
    cursor: pointer;
    min-width: 60px;
}

table tbody tr td .acciones-boton i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

table tbody tr td .acciones-boton i:hover{
    color: var(--primary);
}

table tbody tr td .acciones-boton .desplegable {
    background: #fff;
    min-width: 120px;
    width: 100%;
    border-radius: 6px;
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    top: -225%;
    left: 115%;
    display: none;
    z-index: 10;
}

table tbody tr td .acciones-boton.active .desplegable{
    display: block;
}

table tbody tr td .acciones-boton .desplegable ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

table tbody tr td .acciones-boton .desplegable ul li{
    padding: 0;
    margin: 0;
    color: var(--tbody-text-color);
    font-size: 14px;
    cursor: pointer;
}

table tbody tr td .acciones-boton .desplegable button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
    color: var(--tbody-text-color);
}

table tbody tr td .acciones-boton .desplegable button:hover {
    background: var(--light-primary);
    color: var(--primary);
}

table tbody tr td .acciones-boton .desplegable ul li:hover{
    background: var(--light-primary);
    color: var(--primary);
}

table tbody tr td .acciones-boton .desplegable ul li a{
    text-decoration: none;
    color: var(--tbody-text-color);
}

table tfoot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--light-primary);
    height: 45px;
}

table tfoot tr td{
    color: var(--active);
    font-size: 15px;
    padding: 4px 15px;
    justify-content: center;
}

table tfoot tr td span a i{
    font-size: 25px;
}

.btn-modificar{
    border-radius: 10px;
    border: none;
    width: 165px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background: #5995fd;
    font-size: 15px;
    color: #fff;
    transition: 0.5s;
}

.btn-modificar:hover {
    background-color: #4d84e2;
}

.acciones-boton .vertical {
    right: auto !important;
    left: 100% !important;
    margin-left: 5px;
    z-index: 100;
}